<h1>Bias Info</h1>

<h2>Profile: <%= link_to @biaslist.kpopidol.stage_name, kpopidol_path(@biaslist.kpopidol.id) %> </h2>

<h2> Nickname: <%= @biaslist.notes %>


<br>
<p><%= button_to "Edit Nickname", edit_kpopidol_biaslist_path(@biaslist.kpopidol.id, @biaslist.id), method: "get" %> </p>

<p><%= button_to "Remove", kpopidol_biaslist_path(@biaslist.kpopidol.id, @biaslist.id), method: 'delete' %> </p>
 

