<h1><%= @group.name %></h1><br>
<br>
<h2> Fandom Name: <%= @group.fandom_name %> </h2>
<h2> Debut Date: <%= @group.debut_date %> </h2>
<br>
<br>
<% @group.kpopidols.each do |idol| %>
<p><%= link_to idol.stage_name, kpopidol_path(idol.id) %> </p>


<% end %> 